html{

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
body{
    background-color: black;
}

 header  h1{
    color:aliceblue;
    font-weight: 400;
 }
 h1:hover{
    color:gold;
 }
header{
    display: flex;
    justify-content: space-between;
    margin: 0px 10px ;
}
nav{
    position: relative;
    top:0.9rem;
    right:0.5rem;
    width: 20rem;
    
}
 ul{
    display: flex;
    justify-content: space-evenly;
}
li{
    list-style: none;
    font-size: 1.5rem;
    margin: 4px 10px 4px 10px;
}
.image{
    width: 95vw;
    margin: 1rem;
}
article{
    display: flex;
    justify-content: space-evenly;
   
}
.html{
    
    width: 15vw;
    margin: 1rem;
    padding-left: 60px;
}
footer {
    display: flex;
    justify-content: center;
    background-color: #4d0000;
    margin:10px 0px 10px 0px;
    
  
    
}
p{
    font-size: 15px;
    color:white;
}
footer p{
    font-size: 15px;
    color:white;
}
a{
    text-decoration: none;
    color:antiquewhite;
}
a:hover{
    color:gold;
    
    font-size: 30px;
}
